.image{
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: black;
}

.btn-group{
    margin-left: auto;
}

.header{
    color: white;
}

.container{
    margin: 50px;
}

.settings{
    margin: 10px;
}

.input{
    max-width: 135px;
}